.AppBar{
    /* position: sticky;
    top: 0; */
    /* z-index: 999; */
}
#brand{
    font-weight: 600;
    letter-spacing: 1px;
    /* max-height: 40px; */
}
#avatar{
    width: 36px;
    height: 36px;
}