.recipe_content{
    position: relative;
    background-color: #ffffff;
    border-radius: 33px 33px 0 0;
    /* z-index: 999; */
    margin-top: -33px;
    
}

.recipe_img{
    position: fixed;
    top:56px;
    left: 0;
    z-index: 0;
}

.recipe_img2{
    z-index: -1;
}

.inner_content{
    position: relative;
}

.recipe_title{
    position: relative;
    margin-top: -50px;
    background-color: #ffffff;
    border-radius: 45px;
    max-width: 90%;
}