html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #ffffff !important;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.accountInfo{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 56px;
  z-index: 999;
}
.accountInfo_content{
  background-color: var(--danger);
  height: 100px;
}
#avatarAccountInfo{
  height: 120px;
  width: 120px;
}